<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <% questions.forEach(function(question){ %>


    <h1>Questions</h1>
    <h2><%=question.id %>. <%= question.title %></h2>
    <p><%= question.description %>
    </p>
    <%})  %>

</body>
</html>