<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submition</title>
</head>
<body>
    <form action="/submissions" method="post">
        <input type="textarea" name="solution" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>